<footer>
  <div>
    <div>
      Free Computer Science
      Open education in computer science for free and for everyone
      github
      twitter
      facebook
    </div>
    <div>
      About Us
      About
      Team
    </div>
    <div>
      Support
      FAQ
      Contribute
      Contact Us
    </div>
    <div>
      Guides
    </div>
    <div>
      Legal
      Terms
      Privacy
    </div>
  </div>
</footer>