<nav class="">
  <div class="">
    <div class="flex justify-between">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">

        </div>

      </div>
      <div class=" md:ml-6 md:flex sm:items-center">

          </div>
          <div class=" md:ml-6 md:flex sm:space-x-8">
            All Paths
            Community
            Support
            Sign In
            Get Started
          </div>
      </div>


      </div>
</nav>
