<!-- app/views/pages/home.html.erb -->
<div id="home-page">
  <div>
    <header>
      <div>
        <h1>
          Your <span>Career in Web Development</span> <span>Starts Here</span>
        </h1>
        <div>
          <p>Our full stack curriculum is free and supported by a passionate open source community.</p>
        </div>
      </div>
    </header>
  </div>

  <%= render 'pages/home/how_it_works' %>

  <%= render 'pages/home/curriculum' %>

  <%= render 'pages/home/success_stories' %>
</div>
